name: publish-release

on:
  release:
    types:
      - published

jobs:
  buildAndPublish:
    name: Publish to PyPi
    permissions:
      id-token: write
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: build
        run: |
          python -m pip install --upgrade build
          python -m build

      - name: publish
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
